<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="trigger1_Name" value="AAA銀行"/>
    <add key="trigger2_Name" value="BBB銀行"/>
    <add key="trigger3_Name" value="CCC銀行"/>
    <add key="trigger4_Name" value="DDD銀行"/>
    <add key="trigger5_Name" value="EEE銀行"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>