<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="trigger1_Name" value="AAA銀行"/>
    <!-- 馬達選轉角度20-180-->
    <add key="trigger1_angel" value="180"/>
    <add key="trigger2_Name" value="BBB銀行"/>
    <!-- 馬達選轉角度20-180-->
    <add key="trigger2_angel" value="90"/>
    <add key="trigger3_Name" value="CCC銀行"/>
    <!-- 馬達選轉角度20-180-->
    <add key="trigger3_angel" value="90"/>
    <add key="trigger4_Name" value="DDD銀行"/>
    <!-- 馬達選轉角度20-180-->
    <add key="trigger4_angel" value="90"/>
    <add key="trigger5_Name" value="EEE銀行"/>
    <!-- 馬達選轉角度20-180-->
    <add key="trigger5_angel" value="90"/> 
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>